<div class="grid-row">
  <div class="column-one-third">
    <h2 class="heading-medium">
      <%= t(".subheadings.applicant") %>
    </h2>

    <% if applicant_data_present?(resource) %>
      <% if resource.applicant_first_name.present? %>
        <h3 class="heading-small">
          <%= t(".labels.applicant_first_name") %>
        </h3>
        <p>
          <%= resource.applicant_first_name %>
        </p>
      <% end %>

      <% if resource.applicant_last_name.present? %>
        <h3 class="heading-small">
          <%= t(".labels.applicant_last_name") %>
        </h3>
        <p>
          <%= resource.applicant_last_name %>
        </p>
      <% end %>

      <% if resource.applicant_phone.present? %>
        <h3 class="heading-small">
          <%= t(".labels.applicant_phone") %>
        </h3>
        <p>
          <%= resource.applicant_phone %>
        </p>
      <% end %>

      <% if resource.applicant_email.present? %>
        <h3 class="heading-small">
          <%= t(".labels.applicant_email") %>
        </h3>
        <p>
          <a href="<%= resource.applicant_email %>">
            <%= resource.applicant_email %>
          </a>
        </p>
      <% end %>
    <% else %>
      <%= t(".no_applicant_data") %>
    <% end %>

  </div>
  <div class="column-one-third">
     <h2 class="heading-medium">
      <%= t(".subheadings.contact") %>
    </h2>

    <% if contact_data_present?(resource) %>
      <% if resource.contact_first_name.present? %>
        <h3 class="heading-small">
          <%= t(".labels.contact_first_name") %>
        </h3>
        <p>
          <%= resource.contact_first_name %>
        </p>
      <% end %>
      <% if resource.contact_last_name.present? %>
        <h3 class="heading-small">
          <%= t(".labels.contact_last_name") %>
        </h3>
        <p>
          <%= resource.contact_last_name %>
        </p>
      <% end %>

      <% if resource.contact_phone.present? %>
        <h3 class="heading-small">
          <%= t(".labels.contact_phone") %>
        </h3>
        <p>
          <%= resource.contact_phone %>
        </p>
      <% end %>

      <% if resource.contact_email.present? %>
        <h3 class="heading-small">
          <%= t(".labels.contact_email") %>
        </h3>
        <p>
          <a href="mailto: <%= resource.contact_email %>">
            <%= resource.contact_email %>
          </a>
        </p>
      <% end %>

      <% if resource.contact_position.present? %>
        <h3 class="heading-small">
          <%= t(".labels.contact_position") %>
        </h3>
        <p>
          <%= resource.contact_position %>
        </p>
      <% end %>
    <% else %>
      <%= t(".no_contact_data") %>
    <% end %>

  </div>
  <div class="column-one-third">
    <h2 class="heading-medium">
      <%= t(".subheadings.actions") %>
      <% if resource.reference.present? %>
      for <%= resource.reference %>
      <% end %>
    </h2>
    <div class="action-boxout">
      <ul>
        <% if resource.is_a?(WasteExemptionsEngine::Registration) %>
        <li>
          <%= link_to t(".actions.edit"), "#" %>
        </li>
        <% end %>
        <% if resource.is_a?(WasteExemptionsEngine::Registration) %>
        <li>
          <%= link_to t(".actions.deregister"), "#" %>
        </li>
        <% end %>
        <% if resource.is_a?(WasteExemptionsEngine::TransientRegistration) %>
        <li>
          <%= link_to t(".actions.resume"), resume_link_for(resource) %>
        </li>
        <% end %>
        <% if resource.is_a?(WasteExemptionsEngine::Registration) %>
        <li>
          <%= link_to t(".actions.confirmation_letter"), "#" %>
        </li>
        <% end %>
      </ul>
    </div>
<!-- /boxout -->
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="grid-row">
  <div class="column-full">
    <% if resource.registration_exemptions.present? %>
      <%= render("shared/resource_exemptions_list",
                 resource_exemptions: resource.registration_exemptions) %>
    <% else %>
      <h2 class="heading-medium">
        <%= t(".subheadings.exemptions") %>
      </h2>
      <%= t(".no_exemptions") %>
    <% end %>
  </div>
</div>
<div class="grid-row">
  <% if resource.contact_address.present? %>
    <div class="column-one-third">
      <%= render("shared/resource_address",
                 address: resource.contact_address) %>
    </div>
  <% end %>
  <% if resource.operator_address.present? %>
    <div class="column-one-third">
      <%= render("shared/resource_address",
                 address: resource.operator_address) %>
    </div>
  <% end %>
  <% if resource.site_address.present? %>
    <div class="column-one-third">
      <%= render("shared/resource_address",
                 address: resource.site_address) %>
    </div>
  <% end %>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="grid-row">
  <div class="column-one-third">
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <%= t(".labels.details") %>
        </span>
      </summary>
      <div class="govuk-details__text">
        <% unless resource.on_a_farm.nil? %>
          <h3 class="heading-small">
            <%= t(".labels.on_a_farm") %>
          </h3>
          <p>
            <%= t(".values.on_a_farm.#{resource.on_a_farm}") %>
          </p>
        <% end %>

        <% unless resource.is_a_farmer.nil? %>
          <h3 class="heading-small">
            <%= t(".labels.is_a_farmer") %>
          </h3>
          <p>
            <%= t(".values.is_a_farmer.#{resource.is_a_farmer}") %>
          </p>
        <% end %>

        <% if resource.business_type.present? %>
          <h3 class="heading-small">
            <%= t(".labels.business_type") %>
          </h3>
          <p>
            <%= t(".values.business_type.#{resource.business_type}") %>
          </p>
        <% end %>

        <% if resource.location.present? %>
          <h3 class="heading-small">
            <%= t(".labels.location") %>
          </h3>
          <p>
            <%= t(".values.location.#{resource.location}") %>
          </p>
        <% end %>

        <% if resource.company_no.present? %>
          <h3 class="heading-small">
            <%= t(".labels.company_no") %>
          </h3>
          <p>
            <%= resource.company_no %>
          </p>
        <% end %>
      </div>
    </details>
  </div>

  <% if resource.people.present? %>
  <div class="column-one-third">
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <%= t(".labels.people") %>
        </span>
      </summary>
      <div class="govuk-details__text">
      <%= render("shared/resource_people_list",
                 resource_people: resource.people) %>
      </div>
    </details>
  </div>
  <% end %>
</div>
