<div class="grid-row">
  <div class="column-one-third">
    <h2 class="heading-medium">
      <%= t(".subheadings.applicant") %>
    </h2>

    <% if resource.applicant_first_name.present? %>
      <h3 class="heading-small">
        <%= t(".labels.applicant_first_name") %>
      </h3>
      <p>
        <%= resource.applicant_first_name %>
      </p>
    <% end %>

    <% if resource.applicant_last_name.present? %>
      <h3 class="heading-small">
        <%= t(".labels.applicant_last_name") %>
      </h3>
      <p>
        <%= resource.applicant_last_name %>
      </p>
    <% end %>

    <% if resource.applicant_phone.present? %>
      <h3 class="heading-small">
        <%= t(".labels.applicant_phone") %>
      </h3>
      <p>
        <%= resource.applicant_phone %>
      </p>
    <% end %>

    <% if resource.applicant_email.present? %>
      <h3 class="heading-small">
        <%= t(".labels.applicant_email") %>
      </h3>
      <p>
        <a href="<%= resource.applicant_email %>">
          <%= resource.applicant_email %>
        </a>
      </p>
    <% end %>

  </div>
  <div class="column-one-third">
     <h2 class="heading-medium">
      <%= t(".subheadings.contact") %>
    </h2>

    <% if resource.contact_first_name.present? %>
      <h3 class="heading-small">
        <%= t(".labels.contact_first_name") %>
      </h3>
      <p>
        <%= resource.contact_first_name %>
      </p>
    <% end %>
    <% if resource.contact_last_name.present? %>
      <h3 class="heading-small">
        <%= t(".labels.contact_last_name") %>
      </h3>
      <p>
        <%= resource.contact_last_name %>
      </p>
    <% end %>

    <% if resource.contact_phone.present? %>
      <h3 class="heading-small">
        <%= t(".labels.contact_phone") %>
      </h3>
      <p>
        <%= resource.contact_phone %>
      </p>
    <% end %>

    <% if resource.contact_email.present? %>
      <h3 class="heading-small">
        <%= t(".labels.contact_email") %>
      </h3>
      <p>
        <a href="mailto: <%= resource.contact_email %>">
          <%= resource.contact_email %>
        </a>
      </p>
    <% end %>

    <% if resource.contact_position.present? %>
      <h3 class="heading-small">
        <%= t(".labels.contact_position") %>
      </h3>
      <p>
        <%= resource.contact_position %>
      </p>
    <% end %>
    
  </div>
  <div class="column-one-third">
    <h2 class="heading-medium">
      <%= t(".subheadings.actions") %>
      <% if resource.reference.present? %>
      for <%= resource.reference %>
      <% end %>
    </h2>
    <div class="action-boxout">
      <ul>
        <li>
          <%= link_to t(".actions.resume"), "#" %>
        </li>
        <li>
          <%= link_to t(".actions.edit"), "#" %>
        </li>
        <li>
          <%= link_to t(".actions.deregister"), "#" %>
        </li>
        <li>
          <%= link_to t(".actions.change_ad"), "#" %>
        </li>
        <li>
          <%= link_to t(".actions.confirmation_letter"), "#" %>
        </li>
      </ul>
    </div>
<!-- /boxout -->
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="grid-row">
  <div class="column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption">Waste exemption details</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Exemption</th>
          <th class="govuk-table__header" scope="col">Registered</th>
          <th class="govuk-table__header" scope="col">Expires</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% if resource.respond_to?(:registration_exemptions) && resource.registration_exemptions.present? %>
          <%= render("shared/resource_exemptions_list",
                     resource_exemptions: @resource.registration_exemptions) %>
        <% elsif resource.respond_to?(:transient_registration_exemptions) && resource.transient_registration_exemptions.present? %>
          <%= render("shared/resource_exemptions_list",
                     resource_exemptions: @resource.transient_registration_exemptions) %>
        <% else %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" colspan="4"><%= t(".no_exemptions") %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="grid-row">
      <% if resource.respond_to?(:addresses) %>
      <% resource.addresses.each do |address| %>
        <%= render("shared/resource_address",
                   address: address) %>
      <% end %>
    <% end %>

    <% if resource.respond_to?(:transient_addresses) %>
      <% resource.transient_addresses.each do |address| %>
        <%= render("shared/resource_address",
                   address: address) %>
      <% end %>
    <% end %>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="grid-row">
  <div class="column-one-third">
    <% if resource.respond_to?(:people) && resource.people.present? %>
      <h2 class="heading-medium">
        <%= t(".subheadings.people") %>
      </h2>
        <%= render("shared/resource_people_list",
                   resource_people: @resource.people) %>
      <% elsif resource.respond_to?(:transient_people) && resource.transient_people.present? %>
      <h2 class="heading-medium">
        <%= t(".subheadings.people") %>
      </h2>
        <%= render("shared/resource_people_list",
                   resource_people: @resource.transient_people) %>
    <% end %>
  </div>

  <div class="column-one-third">
    <% unless resource.on_a_farm.nil? %>
      <h3 class="heading-small">
        <%= t(".labels.on_a_farm") %>
      </h3>
      <p>
        <%= resource.on_a_farm %>
      </p>
    <% end %>

    <% unless resource.is_a_farmer.nil? %>
      <h3 class="heading-small">
        <%= t(".labels.is_a_farmer") %>
      </h3>
      <p>
        <%= resource.is_a_farmer %>
      </p>
    <% end %>

    <% if resource.business_type.present? %>
      <h3 class="heading-small">
        <%= t(".labels.business_type") %>
      </h3>
      <p>
        <%= resource.business_type %>
      </p>
    <% end %>

    <% if resource.location.present? %>
      <h3 class="heading-small">
        <%= t(".labels.location") %>
      </h3>
      <p>
        <%= resource.location %>
      </p>
    <% end %>

    <% if resource.company_no.present? %>
      <h3 class="heading-small">
        <%= t(".labels.company_no") %>
      </h3>
      <p>
        <%= resource.company_no %>
      </p>
    <% end %>
  </div>
</div>
