<% resource_exemptions.each do |re| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= re.exemption.code%> &mdash; <%= re.exemption.summary %></td>
      <td class="govuk-table__cell">
        <% if re.registered_on.present? %>
          <%= re.registered_on %>
        <% end %>
      </td>
       <td class="govuk-table__cell">
        <% if re.expires_on.present? %>
          <%= re.expires_on %>
        <% end %>
       </td>
       <td class="govuk-table__cell">
        <% if re.state.present? %>
          <strong class="govuk-tag"><%= re.state %></strong>
        <% end %>
      </td>
    </tr>
<% end %>
