<div class="grid-row registration-list" id="<%= result.reference %>">
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <div class="column-one-quarter">
    <ul class="registration-details">
      <li>
        <span><%= t(".labels.status") %></span>
        <span class="<%= "status-tag status-tag-#{status_tag_for(result)}" %>"><%= t(".statuses.#{status_tag_for(result)}") %></span>
      </li>
      <% if result.operator_name.present? %>
      <li>
        <span><%= t(".labels.operator_name") %></span>
        <%= result.operator_name %>
      </li>
      <% end %>
      <% if result.reference.present? %>
      <li>
        <span><%= t(".labels.reference") %></span>
        <%= result.reference %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="column-one-quarter">
    <ul class="registration-details">
      <% if result.site_address.present? %>
        <% if result.site_address.postcode.present? %>
        <li>
          <span><%= t(".labels.address") %></span>
          <ul>
            <% displayable_address(result.site_address).each do |address_line| %>
              <li><%= address_line %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <% if result.site_address.grid_reference.present? %>
        <li>
          <span><%= t(".labels.grid_reference") %></span>
          <%= result.site_address.grid_reference %>
        </li>
        <% end %>
      <% else %>
      <li>
        <span><%= t(".labels.address") %></span>
        <%= t(".info.no_site_address") %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="column-one-quarter">
    <ul class="registration-details">
      <% if result.applicant_first_name.present? %>
      <li>
        <span><%= t(".labels.applicant") %></span>
        <%= result.applicant_first_name %> <%= result.applicant_last_name %>
      </li>
      <% end %>
      <% if result.contact_first_name.present? %>
      <li>
        <span><%= t(".labels.contact") %></span>
        <%= result.contact_first_name %> <%= result.contact_last_name %>
      </li>
      <% end %>
      <% if result.people.present? && result.business_type == "partnership" %>
      <li>
        <span><%= t(".labels.partners") %></span>
        <ul>
          <% result.people.each do |partner| %>
            <li><%= partner.first_name %> <%= partner.last_name %></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="column-one-quarter">
    <ul class="registration-details">
      <li>
        <span><%= t(".labels.actions") %></span>
        <ul>
          <% if result.is_a?(WasteExemptionsEngine::Registration) %>
          <li>
            <%= link_to "#", id: "edit_#{result.reference}" do %>
              <%= t(".actions.edit.link_text") %>
              <span class="visually-hidden">
               <%= t(".actions.edit.visually_hidden_text",
                     name: result.operator_name) %>
             </span>
            <% end %>
          </li>
          <% end %>
          <% if result.is_a?(WasteExemptionsEngine::Registration) %>
          <li>
            <%= link_to "#", id: "deregister_#{result.reference}" do %>
              <%= t(".actions.deregister.link_text") %>
              <span class="visually-hidden">
               <%= t(".actions.deregister.visually_hidden_text",
                     name: result.operator_name) %>
             </span>
            <% end %>
          </li>
          <% end %>
          <% if result.is_a?(WasteExemptionsEngine::TransientRegistration) %>
          <li>
            <%= link_to "#", id: "resume_#{result.reference}" do %>
              <%= t(".actions.resume.link_text") %>
              <span class="visually-hidden">
               <%= t(".actions.resume.visually_hidden_text",
                     name: result.operator_name) %>
             </span>
            <% end %>
          </li>
          <% end %>
          <% if result.is_a?(WasteExemptionsEngine::Registration) %>
          <li>
            <%= link_to "#", id: "confirmation_letter_#{result.reference}" do %>
              <%= t(".actions.confirmation_letter.link_text") %>
              <span class="visually-hidden">
               <%= t(".actions.confirmation_letter.visually_hidden_text",
                     name: result.operator_name) %>
             </span>
            <% end %>
          </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>
