<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= confirmation_letter_data.web_page_title %></title>
  <meta name="description" content="Waste Exemptions confirmation letter">
  <meta name="author" content="Environment Agency">
  <%= wicked_pdf_stylesheet_link_tag("confirmation_letter") %>
</head>

<body>
  <div class="wel_warning">
    <%= t('.print_warning.header') %>
    <ul>
      <li><%= t('.print_warning.item1') %></li>
      <li><%= t('.print_warning.item2') %></li>
    </ul>
  </div>

    <div class="wel_letter">

      <!-- Letter header -->
      <div class="wel_top">

        <!-- Header logo -->
        <div class="wel_logo">
          <%= image_tag wicked_pdf_asset_base64("logo_ea.png") %>
        </div>

        <!-- Date letter was written -->
        <div class="wel_date">
          <p><%= confirmation_letter_data.date_of_letter %></p>
        </div>

        <!-- Postal address -->
        <div class="wel_address">
          <p>
            <% confirmation_letter_data.postal_address_lines.each do |line| %>
              <%= line %><br>
            <% end %>
          </p>
        </div>

      </div>

      <!-- Letter body -->
      <h1><%= t(".title") %></h1>
      <h2><%= t('.your_reference', reference: confirmation_letter_data.reference) %></h2>
      <p><%= t(".read_both_sides") %></p>

      <!-- Your responsibilities -->
      <div class="wel_section">
        <h2><%= t(".your_responsibilities.title") %></h2>

        <p><%= t(".your_responsibilities.para1.text") %></p>
        <ul>
          <li><%= t(".your_responsibilities.para1.item1") %></li>
          <li><%= t(".your_responsibilities.para1.item2") %></li>
        </ul>

        <p><%= t(".your_responsibilities.para2.text") %></p>
        <ul>
          <li><%= t(".your_responsibilities.para2.item1") %></li>
          <li><%= t(".your_responsibilities.para2.item2") %></li>
          <li><%= t(".your_responsibilities.para2.item3") %></li>
        </ul>

        <p><%= t(".your_responsibilities.para3.text") %></p>
      </div>

      <!-- Registration details -->
      <div class="wel_section">
        <h2><%= t(".registration_details.title") %></h2>
        <p><%= content_tag(:strong, t(".registration_details.reference_number")) %> <%= confirmation_letter_data.reference %></p>
        <p><%= content_tag(:strong, t(".registration_details.activation_date")) %> <%= confirmation_letter_data.submission_date %></p>
      </div>

      <!-- Registration completed by -->
      <div class="wel_section">
        <h2><%= t(".registration_completed_by.title") %></h2>
        <p><%= content_tag(:strong, t(".registration_completed_by.name")) %> <%= confirmation_letter_data.applicant_full_name %></p>
        <p><%= content_tag(:strong, t(".registration_completed_by.telephone")) %> <%= confirmation_letter_data.applicant_phone %></p>
        <p><%= content_tag(:strong, t(".registration_completed_by.email")) %> <%= confirmation_letter_data.applicant_email %></p>
      </div>

      <!-- Business details -->
      <%= render "/confirmation_letter/letter_section", subtitle: t(".business_details.title"), items: confirmation_letter_data.business_details_items %>

      <!-- Waste operation contact -->
      <div class="wel_section">
        <h2><%= t(".waste_operation_contact.title") %></h2>
        <p><%= content_tag(:strong, t(".waste_operation_contact.name")) %> <%= confirmation_letter_data.contact_full_name %></p>
        <% unless confirmation_letter_data.contact_position&.empty? %>
          <p><%= content_tag(:strong, t(".waste_operation_contact.position")) %> <%= confirmation_letter_data.contact_position %></p>
        <% end %>
        <p><%= content_tag(:strong, t(".waste_operation_contact.telephone")) %> <%= confirmation_letter_data.contact_phone %></p>
        <p><%= content_tag(:strong, t(".waste_operation_contact.email")) %> <%= confirmation_letter_data.contact_email %></p>
      </div>

      <!-- Waste operation location -->
      <div class="wel_section">
        <h2><%= t(".waste_operation_location.title") %></h2>
        <% if confirmation_letter_data.site_address.located_by_grid_reference? %>
          <p><%= content_tag(:strong, t(".waste_operation_location.ngr")) %> <%= confirmation_letter_data.site_address.grid_reference %></p>
          <p><%= content_tag(:strong, t(".waste_operation_location.details")) %> <%= confirmation_letter_data.site_address.description %></p>
        <% else %>
          <p><%= content_tag(:strong, t(".waste_operation_location.address")) %> <%= confirmation_letter_data.site_address_one_liner %></p>
        <% end %>
      </div>

      <!-- Table of exemptions -->
      <% if confirmation_letter_data.sorted_active_registration_exemptions.any? %>
        <div class="wel_section">
          <h2><%= t(".waste_exemptions.title") %></h2>
          <table>
            <% confirmation_letter_data.sorted_active_registration_exemptions.each do |re| %>
              <tr>
                <td class="wel_exemption"><%= confirmation_letter_data.exemption_description(re.exemption) %></td>
                <td class="wel_ex_date"><%= confirmation_letter_data.registration_exemption_status(re) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>

      <% if confirmation_letter_data.sorted_deregistered_registration_exemptions.any? %>
        <div class="wel_section">
        <h2><%= t(".deregistered_exemptions.title") %></h2>
        <table>
          <% confirmation_letter_data.sorted_deregistered_registration_exemptions.each do |re| %>
            <tr>
              <td class="wel_exemption"><%= confirmation_letter_data.exemption_description(re.exemption) %></td>
              <td class="wel_ex_date"><%= confirmation_letter_data.registration_exemption_status(re) %></td>
            </tr>
          <% end %>
        </table>
        </div>
      <% end %>

      <!-- Contact us -->
      <div class="wel_section">
        <h2><%= t(".contact_us.title") %></h2>
        <p><%= t(".contact_us.para1") %></p>
        <p><%= t(".contact_us.para2") %></p>
      </div>

      <!-- "Signature" -->
      <p class="sign_off"><%= t(".signature.sign_off") %></p>
      <p class="sign_off"><%= t(".signature.sender") %></p>
    </div>
  </body>
</html>
